@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
      *{
        font-family: 'Poppins', sans-serif !important;
      }
      body{
        background-color: #f6f8fd;
      }
      input{
        border-radius: 50px !important;
        padding-left: 30px !important;
        border: none !important;
        background-color: #e5e9f2 !important;
      }
      button{
        border-radius: 50px!important;
        width: 50%;
        font-weight: 600 !important;
      }
      .card{
        border: none;
        border-radius: px;
      }
      h1{
        font-weight: 500 !important;
        font-size: 24px;
      }
      span{
        font-weight: 800 !important;
        font-size: 48px;
      }